.home_banner_img {
    background-image: url("../../../img/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.home_banner_img h1 {
    padding-top: 250px;
    font-size: 48px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    color: azure;
}

@media only screen and (max-width:688px) {
    .home_banner_img {
        height: 180px;
    }
    
    .home_banner_img h1 {
        padding-top: 50px;
        font-size: 30px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600;
        color: azure;
    }

    span{display: block;}
      
}